# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.pyo
*.pyd
*.pdb
*.whl

# Virtual environments
venv/
ENV/
env/
.venv/
Chess/Lib/site-packages/
Chess/Scripts/
Chess/Include/
Chess/share/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Others
runs/
